/* ---------------------
 * Layout
 * --------------------- */

// colors
$app_white: unquote("rgb(#{$color-white})");
$app_white_0: $app_white;
$app_white_10: unquote("rgba(#{$color-white}, 0.1)");
$app_white_30: unquote("rgba(#{$color-white}, 0.3)");
$app_white_96: unquote("rgba(#{$color-white}, 0.96)");

//urls
$app_bg_url: url(transparent.jpg);

body {
  background: linear-gradient(to bottom, $app_white_96 0, $app_white_96 100%), $app_bg_url center / cover;
  overflow:hidden;
}

/* ---------------------
 * Header
 * --------------------- */
.mdl-layout__header,
.mdl-layout__header > .mdl-layout__drawer-button[aria-expanded] {
  color: black;  // // Quick hack: maybe fix later
}

/* ---------------------
 * Sticky header
 * --------------------- */
*:not(.is-small-screen) .app-layout__sticky-header {
  position: absolute;
  overflow: visible;
  background: linear-gradient(to bottom, $app_white_30 0, $app_white_10 100%);

  &.is-scroll {
    background: linear-gradient(to bottom, $app_white_96 100%, $app_white_0 100%);
  }

  .mdl-layout__drawer-button {
    visibility: hidden;
  }

  .mdl-layout__header-row {
    padding-left: 16px; // Should be an application wide var
  }
}

.is-small-screen .app-layout__sticky-header {
  .mdl-layout__drawer-button {
    visibility: visible;
  }
  .mdl-layout__header-row {
    padding-left: 56px;  // Should be an application wide var
  }
}

/* ---------------------
 * Content
 * --------------------- */

.mdl-layout__content {
  // Change the layout__content class to Flex (instead of inline-block) to allow spacer to work.
  // See: https://github.com/google/material-design-lite/issues/913
  display: flex;
  flex-flow: column nowrap;
}


/* ---------------------
 * Footer
 * --------------------- */
.mdl-mini-footer {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 16px;
  background-color: transparent;

  .mdl-mini-footer__left-section .mdl-logo {
    color: #2e2e2e;  // Quick hack: maybe fix later
  }
}

/* ---------------------
 * Drawer
 * --------------------- */

//.mdl-layout__drawer {
#drawer {
  background-color: transparent;

  &.is-visible {
    background-color: $app_white;
  }

  .mdl-navigation a.mdl-navigation__link {
    display: flex;
    align-items: center;
    padding-right: 0;

    i,
    img {
      width: 32px;
      margin-right: 8px;
      margin-top: -8px;
      margin-bottom: -8px;
      margin-left: 0px;
    }
  }


  #accordion {
    .mdlext-accordion__panel {

      .mdlext-accordion__panel__header {

        .mdlext-accordion__panel__header__transform {
          img {
            width: 32px;
          }
        }
      }
      &:nth-child(1) {

        height: 64px;

        .mdlext-accordion__panel__header {
          height: 64px;
          min-height: 64px;

          .mdlext-accordion__panel__header__transform {
            height: 64px;

            img {
              margin-top: -8px;
            }
          }
        }
      }
    }


    .mdlext-accordion__panel__content {
      padding: 0;
    }

    .mdlext-accordion__panel[open] .mdlext-accordion__panel__header {
      background: rgba(144, 202, 249, 0.5);
    }
  }

  .mdl-navigation a.mdl-navigation__link {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.is-small-screen #drawer .mdl-layout-title a img,
.is-small-screen #drawer .mdl-navigation a.mdl-navigation__link i,
.is-small-screen #drawer .mdl-navigation a.mdl-navigation__link img {
  margin-left: 0;
}

#drawer .mdl-navigation a.mdl-navigation__link:hover {
  color: black;  // // Quick hack: maybe fix later
}
#drawer .mdl-navigation a.mdl-navigation__link.mdl-navigation__link--current:hover {
  background-color: black;  // // Quick hack: maybe fix later
  color: white;  // // Quick hack: maybe fix later
}

/* ---------------------
 * Content
 * TODO: remove
 * --------------------- */
.my-page-content {
  box-sizing: border-box;
  margin: 64px 0 0 0;  // 64px only if sticky-header. Use a variable for this
  padding: 0 16px;
}
.my-page-content > h1:first-child {
  margin-top: 4px;
}
.my-page-content > h5:first-child {
  margin-top: 12px;
}


/* ---------------------
 * Accordion
 * --------------------- */
.mdlext-accordion {

  .mdlext-accordion__panel {

    .mdlext-accordion__panel__state:after {
      content: 'expand_more'; // Default material icon
    }
    &[open] {
      .mdlext-accordion__panel__state:after {
        content: 'expand_less'; // Default material icon
      }
    }
  }
}

