/* ---------------------
 * Layout
 * --------------------- */

// colors
$white   : #fff;
$white_0 : rgba(255,255,255,0);
$white_10: rgba(255,255,255,0.1);
$white_30: rgba(255,255,255,0.3);
$white_96: rgba(255,255,255,0.96);

//urls
$bg_url: url(transparent.jpg);

body {
  background: linear-gradient(to bottom, $white_96 0, $white_96 100%), $bg_url center / cover;
  // background: linear-gradient(to bottom,rgba(255,255,255,0.96) 0%, rgba(255,255,255,0.96) 100%), url('transparent.jpg') center / cover;
}

/* ---------------------
 * Sticky header
 * --------------------- */

*:not(.is-small-screen) .my-layout__sticky-header {
  position: absolute;
  overflow: visible;
  background: linear-gradient(to bottom, $white_30 0, $white_10 100%);

  &.is-scroll {
    background: linear-gradient(to bottom, $white_96 100%, $white_0 100%);
  }

  .mdl-layout__drawer-button {
    visibility: hidden;
  }

  .mdl-layout__header-row {
    padding-left: 16px; // Should be an application wide var
  }
}

.is-small-screen .my-layout__sticky-header {
  .mdl-layout__drawer-button {
    visibility: visible;
    color: black;    // Quick hack: maybe fix later
  }
  .mdl-layout__header-row {
    padding-left: 56px;  // Should be an application wide var
  }
}

/* ---------------------
 * Sticky footer
 * --------------------- */

// Change the layout__content class to Flex (instead of inline-block) to allow spacer to work.
// See: https://github.com/google/material-design-lite/issues/913

.mdl-layout__content.my-layout__sticky-footer {
  display: flex;
  flex-flow: column nowrap;

  & > *:not(.mdl-layout-spacer) {
    flex: none;
  }

  & > .mdl-mini-footer {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 16px;
    background-color: transparent;

    .mdl-mini-footer__left-section .mdl-logo {
      color: #2e2e2e;  // Quick hack: maybe fix later
    }
  }
}

/* ---------------------
 * Accordion
 * --------------------- */
.mdlext-accordion {

  .mdlext-accordion__panel {

    .mdlext-accordion__panel__state:after {
      content: 'expand_more';
    }
    &[open] {
      .mdlext-accordion__panel__state:after {
        content: 'expand_less';
      }
    }
  }
}

/* ---------------------
 * Drawer
 * --------------------- */

//.mdl-layout__drawer {
#drawer {
  background-color: transparent;

  &.is-visible {
    background-color: $white;
  }

  .mdl-navigation a.mdl-navigation__link {
    display: flex;
    align-items: center;
    padding-right: 0;

    i,
    img {
      width: 32px;
      margin-left: -24px;
      margin-right: 8px;
      margin-top: -8px;
      margin-bottom: -8px;
    }
  }


  #accordion {
    .mdlext-accordion__panel {

      .mdlext-accordion__panel__header {

        .mdlext-accordion__panel__header__transform {
          img {
            width: 32px;
          }
        }
      }
      &:nth-child(1) {

        height: 64px;

        .mdlext-accordion__panel__header {
          height: 64px;
          min-height: 64px;

          .mdlext-accordion__panel__header__transform {
            height: 64px;

            img {
              margin-top: -8px;
            }
          }
        }
      }
    }


    .mdlext-accordion__panel__content {
      padding: 0;
    }

    .mdlext-accordion__panel[open] .mdlext-accordion__panel__header {
      background: rgba(144, 202, 249, 0.5);
    }
  }

  .mdl-navigation a.mdl-navigation__link {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.is-small-screen #drawer .mdl-layout-title a img,
.is-small-screen #drawer .mdl-navigation a.mdl-navigation__link i,
.is-small-screen #drawer .mdl-navigation a.mdl-navigation__link img {
  margin-left: 0;
}

#drawer .mdl-navigation a.mdl-navigation__link.mdl-navigation__link--current:hover {
  background-color: black;  // // Quick hack: maybe fix later
}

.mdl-layout__header {
  color: black;  // // Quick hack: maybe fix later
}

/* ---------------------
 * Content
 * --------------------- */
.my-page-content {
  box-sizing: border-box;
  margin: 64px 0 0 0;  // 64px only if sticky-header. Use a variable for this
  padding: 0 16px;
}
.my-page-content > h1:first-child {
  margin-top: 4px;
}
.my-page-content > h5:first-child {
  margin-top: 12px;
}
