.mdl-card {
}
.mdl-card__title {
}
.mdl-card__media {
  margin: 0;
  text-align: center;

  > img {
    max-width: 100%;
    height: auto;
  }
}
.mdl-card__supporting-text {
  width: auto;
}
.mdl-card__actions {
  display: flex;
}
