/* Select field.
 * Copied/Modified/Inspired from:
 *   http://codepen.io/etcpe9/pen/PqyOye,
 *   http://codepen.io/pudgereyem/pen/PqBxQx
 *   https://github.com/MEYVN-digital/mdl-selectfield
 *   https://github.com/mebibou/mdl-selectfield
 */

// Can not use variable for @import path, see: https://github.com/sass/sass/issues/739
// Import evrything i main.scss :-(
//@import "~material-design-lite/src/variables";
//@import "~material-design-lite/src/textfield/textfield";
//@import "../../../stylesheets/utils/mixins";

// NOTE:
// Not shure if extending css classes is a good idea.
// According to http://www.sitepoint.com/avoid-sass-extend/ it is not!

// The container for the whole component.
.mdlext-selectfield {
  @extend .mdl-textfield;

  /* Styling the down arrow */
  &:after {
    @include arrow(down, .7em, .47em, inherit);
    position: absolute;
    bottom: 1.8em;
    right: 0.5em;
    padding: 0;
    pointer-events: none;
  }
}

.mdlext-selectfield.is-disabled {
  &:after {
    color: $input-text-disabled-color;
  }
}

// Optional class to align right.
.mdlext-selectfield--align-right {
  @extend .mdl-textfield--align-right;
}

// Optional class to display at full width.
.mdlext-selectfield--full-width {
  @extend .mdl-textfield--full-width;
}

// Optional class to make the select field expandable.
.mdlext-selectfield--expandable {
  @extend .mdl-textfield--expandable;
}

// Styling for the select element.
.mdlext-selectfield__select {
  @extend .mdl-textfield__input;

  // removes rounded corners at bottom and the down arrow icon as well.
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px; /* Removes default arrow from firefox */
  text-overflow: "";   /* Removes default arrow from firefox */

  // Mozilla, remove focusring
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  // Note: Can not extend parent selectors
  .mdlext-selectfield.is-focused & {
    outline: none;
  }

  .mdlext-selectfield.is-invalid & {
    border-color: $input-text-error-color;
    box-shadow: none;
  }

  .mdlext-selectfield.is-disabled & {
    background-color: transparent;
    border-bottom: 1px dotted $input-text-disabled-color;
    color: $input-text-disabled-text-color;
  }
}

.mdlext-selectfield__select::-ms-expand {
  display: none;
}

// Styling for the label / floating label.
// NOTE: Could use 'mdl-textfield__label' class instead of creating an identical class
.mdlext-selectfield__label {
  @extend .mdl-textfield__label;

  // Note: Can not extend parent selectors
  .mdlext-selectfield.is-dirty & {
    visibility: hidden;
  }

  // Floating Label
  .mdlext-selectfield--floating-label & {
    @include material-animation-default();
  }

  .mdlext-selectfield.is-disabled.is-disabled & {
    color: $input-text-disabled-text-color;
  }

  .mdlext-selectfield--floating-label.is-focused &,
  .mdlext-selectfield--floating-label.is-dirty.is-dirty & {
    color: $input-text-highlight-color;
    font-size : $input-text-floating-label-fontsize;
    top: $input-text-vertical-spacing - ($input-text-floating-label-fontsize + $input-text-padding);
    visibility: visible;
  }

  .mdlext-selectfield--floating-label.is-focused .mdlext-selectfield__expandable-holder &,
  .mdlext-selectfield--floating-label.is-dirty .mdlext-selectfield__expandable-holder & {
    top: -($input-text-floating-label-fontsize + $input-text-padding);
  }

  .mdlext-selectfield--floating-label.is-invalid & {
    color: $input-text-error-color;
    font-size: $input-text-floating-label-fontsize;
  }
  .mdlext-selectfield.is-focused &:after {
    left: 0;
    visibility: visible;
    width: 100%;
  }

  .mdlext-selectfield.is-invalid &:after {
    background-color: $input-text-error-color;
  }
}


// SelectField Error.
.mdlext-selectfeld__error {
  @extend .mdl-textfield__eror;
}

// Expandable Holder.
.mdlext-selectfield__expandable-holder {
  @extend .mdl-textfield__expandable-holder;

  // Note: Can not extend parent selectors
  .mdl-textfield.is-focused &,
  .mdl-textfield.is-dirty & {
    // This is an unfortunate hack. Animating between widths in percent (%)
    // in many browsers (Chrome, Firefox) only animates the inner visual style
    // of the input - the outer bounding box still 'jumps'.
    // Thus assume a sensible maximum, and animate to/from that value.
    max-width: 600px;
  }
}
