
// Pallette
$ske-window-background-color:    "255,255,255" !default; //#FFFFFF
$ske-window-navigationbar-color: "0,0,0"       !default; //#000000
$ske-primary-color-dark:         "25,118,210"  !default; //#1976D2
$ske-primary-color:              "33,150,243"  !default; //#2196F3
$ske-primary-color-light:        "187,222,251" !default; //#BBDEFB
$ske-primary-color-text:         "255,255,255" !default; //#FFFFFF
$ske-accent-color:               "3,169,244"   !default; //#03A9F4
$ske-primary-text-color:         "33,33,33"    !default; //#212121
$ske-secondary-text-color:       "114,114,114" !default; //#727272
$ske-divider-color:              "182,182,182" !default; //#B6B6B6

/* -----------------------------------------------
 * Override Material Design Lite variables
 * ----------------------------------------------- */

/* ==========  TYPOGRAPHY  ========== */
$preferred_font: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$performance_font: 'Helvetica', 'Arial', sans-serif !default;

/* ==========  IMAGES  ========== */

/* ==========  Color & Themes  ========== */
$color-primary: $ske-primary-color;
$color-primary-dark: $ske-primary-color-dark;
$color-accent: $ske-accent-color;
$color-primary-contrast: $ske-primary-color-text;
$color-accent-contrast: $ske-primary-color-text;

/* ==========  Typography  ========== */

/* ==========  Components  ========== */

/* ==========  Standard Buttons  ========== */

// Default button colors.
//$button-secondary-color: unquote("rgb(#{$color-white})");

// Colored button colors.
//$button-primary-color-alt: unquote("rgb(#{$color-secondary})");

// Disabled button colors.
//$button-primary-color-disabled: #6b6b6b;
//$button-secondary-color-disabled: unquote("rgba(#{$color-white}, 0.3)");


// FAB colors and sizes.
//$button-fab-color-alt: unquote("rgb(#{$color-secondary})");


/* ==========  Icon Toggles  ========== */

/* ==========  Radio Buttons  ========== */

/* ==========  Ripple effect  ========== */

/* ==========  Layout  ========== */
//$layout-nav-color: #202020;

// Drawer
//$layout-drawer-bg-color: #202020;
//$layout-drawer-navigation-link-active-background: unquote("rgba(#{$color-black}, 0.25)");
//$layout-drawer-navigation-link-active-color: unquote("rgb(#{$color-primary})");

// Header
//$layout-header-text-color: unquote("rgb(#{$color-primary})");

/* ==========  Content Tabs  ========== */

/* ==========  Checkboxes  ========== */

/* ==========  Switches  ========== */

/* ==========  Spinner  ========== */

/* ==========  Text fields  ========== */

/* ==========  Card  ========== */
//$card-text-color: unquote("rgba(#{$color-primary-contrast}, 1.0)");
//$card-background-color: unquote("rgb(#{$color-white})") !default;
//$card-supporting-text-text-color: unquote("rgba(#{$color-white}, 0.8)");
//$card-subtitle-color: unquote("rgba(#{$color-white}, 0.5)");
$card-image-placeholder-color: rgba(255, 255, 255, 0);


/* ==========  Sliders ========== */

/* ========== Progress ========== */
//$progress-main-color: unquote("rgb(#{$color-secondary})");
//$progress-secondary-color: unquote("rgba(#{$color-white}, 0.4)");

/* ==========  List ========== */

/* ==========  Item ========== */

// Default Item Colors
//$default-item-focus-bg-color: unquote("rgba(#{$color-black}, 0.15)");
//$default-item-active-bg-color: unquote("rgba(#{$color-black}, 0.15)");
//$default-item-hover-bg-color: unquote("rgba(#{$color-black}, 0.2)");

/* ==========  Dropdown menu ========== */


/* ==========  Tooltips  ========== */
$tooltip-background-color: rgba(#353535, 0.9);

/* ==========  Footer  ========== */

/* TEXTFIELD */

/* SWITCH */

/* SPINNER */

/* RADIO */

/* MENU */

/* LIST */
$list-border: 0;
$list-bottom-padding: 16px;
$list-avatar-text-left-distance: 64px;
$list-icon-text-left-distance: 56px;
$list-avatar-size: 32px;
$list-two-line-height: 64px;

/* LAYOUT */
//$layout-header-mobile-indent: 16px;
//$layout-header-desktop-indent: 16px;

/* ICON TOGGLE */

/* FOOTER */

/* CHECKBOX */
$checkbox-button-size: 18px;

/* CARD */
/* Card dimensions */
$card-height: auto;
$card-width: auto;
$card-title-font-size: 24px;
$card-title-text-font-weight: 400;
$card-vertical-padding: 20px;

/* BUTTON */
$button-font-weigth: 400;

/* ANIMATION */

/* PROGRESS */

/* BADGE */
//$badge-color: unquote("rgb(#{$color-white})");
//$badge-background: unquote("rgb(#{$color-primary})");

/* SHADOWS */

/* GRID */
$grid-desktop-gutter: 6px;
$grid-desktop-margin: 6px;

$grid-tablet-gutter: 4px;
$grid-tablet-margin: 4px;

$grid-phone-gutter: 2px;
$grid-phone-margin: 2px;

/* DATA TABLE */
$data-table-column-spacing: 16px;

/* DIALOG */

/* SNACKBAR */

/* TOOLTIP */
$tooltip-font-size: 12px;
