@charset "UTF-8";


/**
// Responsive Tables
// Based on:
//   http://dbushell.com/2016/03/04/css-only-responsive-tables/
*/


@charset "UTF-8";

.mdlext-table {

  // IE needs inline-block to position scrolling shadows otherwise use:
  // display: block;
  // max-width: min-content;
  display: inline-block;
  max-width: 100%;

  vertical-align: top;
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: $data-table-font-size;

  cursor: default;

  -webkit-overflow-scrolling: touch; // optional - enable iOS momentum scrolling
  white-space: nowrap;               // optional - looks better for small cell values

  th,
  td {
    position: relative;
    padding: 8px $data-table-column-padding 8px $data-table-column-padding;
    border-top: $data-table-dividers;
    @include typo-body-1();
  }

  th {
    text-transform: uppercase;
    text-align: left;
    text-overflow: ellipsis;
    border-top: 0;
    font-weight: 600;
    vertical-align: bottom;
  }

  tbody > tr {

    &[hidden=''],
    &[hidden=true] {
      display: none;
    }

    &.is-selected {
      background-color: rgba($data-table-selection-color, 0.8);
    }

    &:hover {
      background-color: rgba($data-table-hover-color, 0.5);
    }
  }

  .mdlext-table__align-right.mdlext-table__align-left {
    text-align: left;
  }

  .mdlext-table__align-right.mdlext-table__align-right {
    text-align: right;
  }

  .mdlext-table__align-center.mdlext-table__align-center {
    text-align: center;
  }
}

//// Group / Sub row
.mdlext-table {

  tr(&__summary-row) {
  }

  tr:not(&__summary-row) {
    // i.e. __detail-row
    td {
      border-top: 0;
      padding-top: 4px;
      padding-bottom: 4px;
    }

    table {
      max-width: 100%;
      white-space: nowrap;
      border-collapse: collapse;
      border-spacing: 0;
      border: 0;
      font-size: $data-table-font-size;

      th,
      td {
        //border: 0;
      }
    }

  }
}

//// Toggle
.mdlext-aria-toggle {
  &:after {
    content: 'expand_more';
  }
}

&[aria-expanded=''] .mdlext-aria-toggle,
&[aria-expanded=true] .mdlext-aria-toggle {
  &:after {
    content: 'expand_less';
  }
}



//// Flipped axis

.mdlext-table {
  &--flip {
    display: inline-flex; //display: flex;
    overflow: hidden;
    background: none;

    thead {
      display: flex;
      flex-shrink: 0;
      min-width: min-content;
    }

    tbody {
      -webkit-overflow-scrolling: touch; // optional - enable iOS momentum scrolling
      display: flex;
      position: relative;
      overflow-x: auto;
      overflow-y: hidden;
    }

    tr {
      display: flex;
      flex-direction: column;
      min-width: min-content;
      flex-shrink: 0;
    }

    td,
    th {
      display: block;
    }

    td {
      background-image: none !important;
      // border-collapse is no longer active
      border-left: 0;
    }

    // border-collapse is no longer active
    th:not(:last-child),
    td:not(:last-child) {
      border-bottom: 0;
    }
  }
}


/*
.mdl-layout.is-small-screen {
  .ske-application-header {
    display: flex; // Header skal alltid vises
  }
  .mdl-layout__content {
    flex-shrink: 0;
  }
}
*/
