/**
 * Bordered textfields
 * Modified from: http://codepen.io/prajwal078/pen/LVJZXz?editors=010
 */

// Can not use variable for @import path, see: https://github.com/sass/sass/issues/739
// Import evrything i main.scss :-(
//@import "material-design-lite/src/variables";
//@import "material-design-lite/src/textfield/textfield";

@import "../../../stylesheets/utils/mixins";

$mdlext-bordered-input-border-radius: 3px !default;
$mdlext-bordered-input-border-width: 1px !default;
$mdlext-bordered-input-background-color: rgba(#ffffff, 0.1) !default;
$mdlext-bordered-input-height: 48px !default;
$mdlext-bordered-input-padding: $input-text-padding + 4px !default;
$mdlext-bordered-input-padding-top: 20px !default;
$mdlext-bordered-input-padding-bottom: 0 !default;
$mdlext-bordered-input-focus-border-color: #458ebd !default;
$mdlext-bordered-input-focus-background-color: rgba(#d9e8f1, 0.2) !default;
$mdlext-bordered-input-disabled-border-color: #c6ccd1 !default;
$mdlext-bordered-input-disabled-background-color: rgba(228, 236, 243, 0.25) !default;
$mdlext-bordered-input-required-border-color: #e59617 !default;
$mdlext-bordered-input-required-background-color: rgba(#f9ead0, 0.1) !default;

$mdlext-bordered-input-label-top: 35px !default;
$mdlext-bordered-input-label-focused-top: 20px !default;

$mdlext-bordered-input-icon-font-size: 1.4em !default;
$mdlext-bordered-input-icon-left: 4px !default;


// "Theme" for this styling
.mdlext-bordered-textfields {

  // Styling for the input element.
  // Note: This styling also affects mdlext-selectfield! This is a (good or bad?) side effect of using inheritance.
  .mdl-textfield,
  .mdlext-selectfield {

    &.is-dirty {
      .mdl-textfield__input,
      .mdlext-selectfield__select {
        &:required {
          border-color: $input-text-bottom-border-color;
          background-color: $mdlext-bordered-input-required-background-color;
        }
        &:focus,
        &:required:focus {
          border-color: $mdlext-bordered-input-focus-border-color;
          background-color: $mdlext-bordered-input-focus-background-color;
        }
      }
    }
    .mdl-textfield__input,
    .mdlext-selectfield__select {
      background-color: $mdlext-bordered-input-background-color;
      border: $mdlext-bordered-input-border-width solid $input-text-bottom-border-color;
      border-radius: $mdlext-bordered-input-border-radius;
      height: $mdlext-bordered-input-height;
      padding: $mdlext-bordered-input-padding-top $mdlext-bordered-input-padding $mdlext-bordered-input-padding-bottom $mdlext-bordered-input-padding;

      &:disabled {
        color: $input-text-disabled-text-color;
        background-color: $mdlext-bordered-input-disabled-background-color;
        border-color: $mdlext-bordered-input-disabled-border-color;
      }
      &:required {
        background-color: $mdlext-bordered-input-required-background-color;
        border-color: $mdlext-bordered-input-required-border-color;
      }
      &:focus,
      &:required:focus {
        background-color: $mdlext-bordered-input-focus-background-color;
        border-color: $mdlext-bordered-input-focus-border-color;
      }
    }
    .mdlext-selectfield__select {
      padding-left: $input-text-padding;
    }
  }

  // Styling for the label / floating label.
  .mdl-textfield,
  .mdlext-selectfield {

    &.is-focused {
      .mdl-textfield__label,
      .mdlext-selectfield__label {
        top: $mdlext-bordered-input-label-focused-top;
      }
    }
    &.is-dirty {
      .mdl-textfield__label,
      .mdlext-selectfield__label {
        top: $mdlext-bordered-input-label-focused-top;
        visibility: visible;
      }
    }
    .mdl-textfield__label,
    .mdlext-selectfield__label {
      padding-left: $mdlext-bordered-input-padding;
      top: $mdlext-bordered-input-label-top;

      // Hides the colored underline for the TextField.
      &:after {
        background-color: transparent !important;
        visibility: hidden !important;
      }
    }
  }
}


// Icon(s) and/or button(s) inside textfield

.mdl-textfield,
.mdlext-selectfield {
  &.mdlext-field--icon-left,
  &.mdlext-field--icon-right {
    & > i,
    & > .mdl-button {
      //position: absolute;
      //top: 50%;
      //transform: translateY(-50%);
      @include center-element(false, true);
    }
  }
  &.mdlext-field--icon-left {
    & > i:first-child,
    & > .mdl-button:first-child {
      left: $input-text-padding;
    }
    & > i ~ .mdl-textfield__input,
    & > .mdl-button ~ .mdl-textfield__input,
    & > i ~ .mdlext-selectfield__select,
    & > .mdl-button ~ .mdlext-selectfield__select {
      padding-left: $input-text-button-size;
    }
    & > i ~ .mdl-textfield__label,
    & > .mdl-button ~ .mdl-textfield__label,
    & > i ~ .mdlext-selectfield__label,
    & > .mdl-button ~ .mdlext-selectfield__label {
      left: $input-text-button-size - $input-text-padding;
    }
  }
  &.mdlext-field--icon-right {
    & > .mdl-textfield__input {
      padding-right: $input-text-button-size;
    }
    & > i:last-child,
    & > .mdl-button:last-child {
      left: auto;
      right: $input-text-padding;
    }
  }
  &.is-disabled i,
  &.is-disabled .mdl-button {
    color: $input-text-disabled-color;
  }
}
