.mdl-layout {
}


// Drawer.
.mdl-layout__drawer {

  & .mdl-navigation {

    & .mdl-navigation__link {
      display: flex;
      align-items: center;

      &:hover {
        background-color: $layout-nav-color;
      }

      &--current {
        background-color: $layout-drawer-navigation-link-active-background;
        color: $layout-drawer-navigation-link-active-color;

        &:hover {
          background-color: $layout-drawer-navigation-link-active-background;
          color: $layout-drawer-navigation-link-active-color;
        }
      }
    }
  }
}


.mdl-layout__drawer-button {
  // Remove "annoying" focus ring
  outline: none;

  // Mozilla, remove focusring
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.mdl-layout__content {
  // Change the layout__content class to Flex (instead of inline-block) to allow spacer to work.
  // See: https://github.com/google/material-design-lite/issues/913
  display: flex;
  flex-flow: column nowrap;
}
