/* -----------------------------------------------
 * Override Material Design Icons variables
 * ----------------------------------------------- */
// A list of available icon font names can be found here: https://www.google.com/design/icons/
$material-design-iconfont-path: '../../node_modules/material-design-icons/iconfont';


/* -----------------------------------------------
 * Override Material Design Iconic Font variables
 * ----------------------------------------------- */
// A list of available icons can be found here: http://zavoloklom.github.io/material-design-iconic-font/
$zmdi-font-path : '../../node_modules/material-design-iconic-font/dist/fonts';


/* -----------------------------------------------
 * Override Material Design Lite variables
 * ----------------------------------------------- */

/* ==========  TYPOGRAPHY  ========== */

/* We're splitting fonts into "preferred" and "performance" in order to optimize
   page loading. For important text, such as the body, we want it to load
   immediately and not wait for the web font load, whereas for other sections,
   such as headers and titles, we're OK with things taking a bit longer to load.
   We do have some optional classes and parameters in the mixins, in case you
   definitely want to make sure you're using the preferred font and don't mind
   the performance hit.
   We should be able to improve on this once CSS Font Loading L3 becomes more
   widely available.
*/

$preferred_font: 'Roboto-Light', 'Helvetica', 'Arial', sans-serif;
$performance_font: 'Helvetica', 'Arial', sans-serif !default;


/* ==========  IMAGES  ========== */
$image_path: '/static/images/mdl';  // See: webpack.config.js CopyWebpackPlugin
