.mdlext-dark-theme {
  background-color: $mdlext-dark-content-background-color;
  color: $mdlext-dark-text-color-primary;
}

// mdl/src/palette/_palette.scss
.mdlext-dark-theme {

  .mdl-color--primary {
    background-color: $mdlext-dark-color-primary !important;
  }

  .mdl-color--primary-contrast {
    background-color: $mdlext-dark-color-primary-contrast !important;
  }

  .mdl-color--primary-dark {
    background-color: $mdlext-dark-color-primary-dark !important;
  }

  .mdl-color--accent {
    background-color: $mdlext-dark-color-accent !important;
  }

  .mdl-color--accent-contrast {
    background-color: $mdlext-dark-color-accent-contrast !important;
  }

  .mdl-color-text--primary {
    color: $mdlext-dark-color-primary !important;
  }

  .mdl-color-text--primary-contrast {
    color: $mdlext-dark-color-primary-contrast !important;
  }

  .mdl-color-text--primary-dark {
    color: $mdlext-dark-color-primary-dark !important;
  }

  .mdl-color-text--accent {
    color: $mdlext-dark-color-accent !important;
  }

  .mdl-color-text--accent-contrast {
    color: $mdlext-dark-color-accent-contrast !important;
  }

}

// mdl/src/typography/_typography.scss
.mdlext-dark-theme {
  a {
    color: $mdlext-dark-text-link-color;
  }
}

// mdl/src/badge/_badge.scss
// ---------------------------
.mdlext-dark-theme {
  .mdl-badge {

    &[data-badge]:after {
      background: $mdlext-light-badge-background;
      color: $mdlext-light-badge-color;
    }

    &.mdl-badge--no-background {
      &[data-badge]:after {
        color: $mdlext-light-badge-color-inverse;
        background: $mdlext-light-badge-background-inverse;
      }
    }
  }
}


// mdl/src/button/_button.scss
// ---------------------------
.mdlext-dark-theme {

  .mdl-button {
    background: transparent;
    color: $mdlext-dark-button-secondary-color;

    &:hover {
      background-color: $mdlext-dark-button-hover-color;
    }

    &:focus:not(:active) {
      background-color: $mdlext-dark-button-focus-color;
    }

    &:active {
      background-color: $mdlext-dark-button-active-color;
    }

    &.mdl-button--colored {
      color: $mdlext-dark-button-primary-color-alt;

      &:focus:not(:active) {
        background-color: $mdlext-dark-button-focus-color-alt;
      }
    }
  }

  // Raised buttons
  .mdl-button--raised {
    background: $mdlext-dark-button-primary-color;

    &:active {
      background-color: $mdlext-dark-button-active-color;
    }

    &:focus:not(:active) {
      background-color: $mdlext-dark-button-active-color;
    }

    &.mdl-button--colored {
      background: $mdlext-dark-button-primary-color-alt;
      color: $mdlext-dark-button-secondary-color-alt;

      &:hover {
        background-color: $mdlext-dark-button-hover-color-alt;
      }

      &:active {
        background-color: $mdlext-dark-button-active-color-alt;
      }

      &:focus:not(:active) {
        background-color: $mdlext-dark-button-active-color-alt;
      }

      & .mdl-ripple {
        background: $mdlext-dark-button-ripple-color-alt;
      }
    }
  }


  // FABs
  .mdl-button--fab {
    background: $mdlext-dark-button-primary-color;

    &:active {
      background-color: $mdlext-dark-button-active-color;
    }

    &:focus:not(:active) {
      background-color: $mdlext-dark-button-active-color;
    }

    &.mdl-button--colored {
      background: $mdlext-dark-button-fab-color-alt;
      color: $mdlext-dark-button-fab-text-color-alt;

      &:hover {
        background-color: $mdlext-dark-button-fab-hover-color-alt;
      }

      &:focus:not(:active) {
        background-color: $mdlext-dark-button-fab-active-color-alt;
      }

      &:active {
        background-color: $mdlext-dark-button-fab-active-color-alt;
      }

      & .mdl-ripple {
        background: $mdlext-dark-button-fab-ripple-color-alt;
      }
    }
  }


  // Icon buttons
  .mdl-button--icon {
    color: inherit;
  }

  // Colorized buttons

  .mdl-button--primary.mdl-button--primary {
    color: $mdlext-dark-button-primary-color-alt;

    & .mdl-ripple {
      background: $mdlext-dark-button-secondary-color-alt;
    }
    &.mdl-button--raised, &.mdl-button--fab {
      color: $mdlext-dark-button-secondary-color-alt;
      background-color: $mdlext-dark-button-primary-color-alt;
    }
  }

  .mdl-button--accent.mdl-button--accent {
    color: $mdlext-dark-button-fab-color-alt;

    & .mdl-ripple {
      background: $mdlext-dark-button-fab-text-color-alt;
    }
    &.mdl-button--raised, &.mdl-button--fab {
      color: $mdlext-dark-button-fab-text-color-alt;
      background-color: $mdlext-dark-button-fab-color-alt;
    }
  }

  // Disabled buttons

  .mdl-button {
    // Bump up specificity by using [disabled] twice.
    &[disabled][disabled],
    &.mdl-button--disabled.mdl-button--disabled {
      color: $mdlext-dark-button-secondary-color-disabled;
      background-color: transparent;
    }

    &--fab {
      // Bump up specificity by using [disabled] twice.
      &[disabled][disabled],
      &.mdl-button--disabled.mdl-button--disabled {
        background-color: $mdlext-dark-button-primary-color-disabled;
        color: $mdlext-dark-button-secondary-color-disabled;
      }
    }

    &--raised {
      // Bump up specificity by using [disabled] twice.
      &[disabled][disabled],
      &.mdl-button--disabled.mdl-button--disabled {
        background-color: $mdlext-dark-button-primary-color-disabled;
        color: $mdlext-dark-button-secondary-color-disabled;
      }
    }
    &--colored {
      // Bump up specificity by using [disabled] twice.
      &[disabled][disabled],
      &.mdl-button--disabled.mdl-button--disabled {
        color: $mdlext-dark-button-secondary-color-disabled;
      }
    }
  }
}
