@import "themes";

.mdlext-dark-theme {
  background-color: $mdlext-dark-content-background-color;
  color: $mdlext-dark-text-color-primary;
}

// mdl/src/palette/_palette.scss
.mdlext-dark-theme {

  .mdl-color--primary {
    background-color: $mdlext-dark-color-primary !important;
  }

  .mdl-color--primary-contrast {
    background-color: $mdlext-dark-color-primary-contrast !important;
  }

  .mdl-color--primary-dark {
    background-color: $mdlext-dark-color-primary-dark !important;
  }

  .mdl-color--accent {
    background-color: $mdlext-dark-color-accent !important;
  }

  .mdl-color--accent-contrast {
    background-color: $mdlext-dark-color-accent-contrast !important;
  }

  .mdl-color-text--primary {
    color: $mdlext-dark-color-primary !important;
  }

  .mdl-color-text--primary-contrast {
    color: $mdlext-dark-color-primary-contrast !important;
  }

  .mdl-color-text--primary-dark {
    color: $mdlext-dark-color-primary-dark !important;
  }

  .mdl-color-text--accent {
    color: $mdlext-dark-color-accent !important;
  }

  .mdl-color-text--accent-contrast {
    color: $mdlext-dark-color-accent-contrast !important;
  }

}

// mdl/src/typography/_typography.scss
.mdlext-dark-theme {
  a {
    color: $mdlext-dark-text-link-color;
  }
}

// mdl/src/badge/_badge.scss
// ---------------------------
.mdlext-dark-theme {
  .mdl-badge {

    &[data-badge]:after {
      background: $mdlext-light-badge-background;
      color: $mdlext-light-badge-color;
    }

    &.mdl-badge--no-background {
      &[data-badge]:after {
        color: $mdlext-light-badge-color-inverse;
        background: $mdlext-light-badge-background-inverse;
      }
    }
  }
}


// mdl/src/button/_button.scss
// ---------------------------
.mdlext-dark-theme {

  .mdl-button {
    background: transparent;
    color: $mdlext-dark-button-secondary-color;

    &:hover {
      background-color: $mdlext-dark-button-hover-color;
    }

    &:focus:not(:active) {
      background-color: $mdlext-dark-button-focus-color;
    }

    &:active {
      background-color: $mdlext-dark-button-active-color;
    }

    &.mdl-button--colored {
      color: $mdlext-dark-button-primary-color-alt;

      &:focus:not(:active) {
        background-color: $mdlext-dark-button-focus-color-alt;
      }
    }
  }

  // Raised buttons
  .mdl-button--raised {
    background: $mdlext-dark-button-primary-color;

    &:active {
      background-color: $mdlext-dark-button-active-color;
    }

    &:focus:not(:active) {
      background-color: $mdlext-dark-button-active-color;
    }

    &.mdl-button--colored {
      background: $mdlext-dark-button-primary-color-alt;
      color: $mdlext-dark-button-secondary-color-alt;

      &:hover {
        background-color: $mdlext-dark-button-hover-color-alt;
      }

      &:active {
        background-color: $mdlext-dark-button-active-color-alt;
      }

      &:focus:not(:active) {
        background-color: $mdlext-dark-button-active-color-alt;
      }

      & .mdl-ripple {
        background: $mdlext-dark-button-ripple-color-alt;
      }
    }
  }


  // FABs
  .mdl-button--fab {
    background: $mdlext-dark-button-primary-color;

    &:active {
      background-color: $mdlext-dark-button-active-color;
    }

    &:focus:not(:active) {
      background-color: $mdlext-dark-button-active-color;
    }

    &.mdl-button--colored {
      background: $mdlext-dark-button-fab-color-alt;
      color: $mdlext-dark-button-fab-text-color-alt;

      &:hover {
        background-color: $mdlext-dark-button-fab-hover-color-alt;
      }

      &:focus:not(:active) {
        background-color: $mdlext-dark-button-fab-active-color-alt;
      }

      &:active {
        background-color: $mdlext-dark-button-fab-active-color-alt;
      }

      & .mdl-ripple {
        background: $mdlext-dark-button-fab-ripple-color-alt;
      }
    }
  }


  // Icon buttons
  .mdl-button--icon {
    color: inherit;
  }

  // Colorized buttons

  .mdl-button--primary.mdl-button--primary {
    color: $mdlext-dark-button-primary-color-alt;

    & .mdl-ripple {
      background: $mdlext-dark-button-secondary-color-alt;
    }
    &.mdl-button--raised, &.mdl-button--fab {
      color: $mdlext-dark-button-secondary-color-alt;
      background-color: $mdlext-dark-button-primary-color-alt;
    }
  }

  .mdl-button--accent.mdl-button--accent {
    color: $mdlext-dark-button-fab-color-alt;

    & .mdl-ripple {
      background: $mdlext-dark-button-fab-text-color-alt;
    }
    &.mdl-button--raised, &.mdl-button--fab {
      color: $mdlext-dark-button-fab-text-color-alt;
      background-color: $mdlext-dark-button-fab-color-alt;
    }
  }

  // Disabled buttons

  .mdl-button {
    // Bump up specificity by using [disabled] twice.
    &[disabled][disabled],
    &.mdl-button--disabled.mdl-button--disabled {
      color: $mdlext-dark-button-secondary-color-disabled;
      background-color: transparent;
    }

    &--fab {
      // Bump up specificity by using [disabled] twice.
      &[disabled][disabled],
      &.mdl-button--disabled.mdl-button--disabled {
        background-color: $mdlext-dark-button-primary-color-disabled;
        color: $mdlext-dark-button-secondary-color-disabled;
      }
    }

    &--raised {
      // Bump up specificity by using [disabled] twice.
      &[disabled][disabled],
      &.mdl-button--disabled.mdl-button--disabled {
        background-color: $mdlext-dark-button-primary-color-disabled;
        color: $mdlext-dark-button-secondary-color-disabled;
      }
    }
    &--colored {
      // Bump up specificity by using [disabled] twice.
      &[disabled][disabled],
      &.mdl-button--disabled.mdl-button--disabled {
        color: $mdlext-dark-button-secondary-color-disabled;
      }
    }
  }
}


// mdl/src/slider/_slider.scss
// ---------------------------
.mdlext-dark-theme {
  .mdl-slider {

    &.is-upgraded {
      background: transparent;
      color: $mdlext-dark-range-color;

      &::-webkit-slider-runnable-track {
        background: transparent;
      }

      &::-moz-range-track {
        background: transparent;
      }

      &::-ms-track {
        background: none;
        color: transparent;
      }

      &::-ms-fill-lower {
        background: linear-gradient(to right,
          transparent,
          transparent 16px,
          $mdlext-dark-range-color 16px,
          $mdlext-dark-range-color 0);
      }

      &::-ms-fill-upper {
        background: linear-gradient(to left,
          transparent,
          transparent 16px,
          $mdlext-dark-range-bg-color 16px,
          $mdlext-dark-range-bg-color 0);
      }


      &::-webkit-slider-thumb {
        background: $mdlext-dark-range-color;
      }

      &::-moz-range-thumb {
        background: $mdlext-dark-range-color;
      }

      &:focus:not(:active)::-webkit-slider-thumb {
        box-shadow: 0 0 0 10px $mdlext-dark-range-faded-color;
      }

      &:focus:not(:active)::-moz-range-thumb {
        box-shadow: 0 0 0 10px $mdlext-dark-range-faded-color;
      }

      &:active::-webkit-slider-thumb {
        background: $mdlext-dark-range-color;
      }

      &:active::-moz-range-thumb {
        background: $mdlext-dark-range-color;
      }

      &::-ms-thumb {
        background: $mdlext-dark-range-color;
      }

      &:focus:not(:active)::-ms-thumb {
        background: radial-gradient(circle closest-side,
          $mdlext-dark-range-color 0%,
          $mdlext-dark-range-color 37.5%,
          $mdlext-dark-range-faded-color 37.5%,
          $mdlext-dark-range-faded-color 100%);
      }

      &:active::-ms-thumb {
        background: $mdlext-dark-range-color;
      }


      &.is-lowest-value::-webkit-slider-thumb {
        background: transparent;
      }

      &.is-lowest-value::-moz-range-thumb {
        background: transparent;
      }

      &.is-lowest-value:focus:not(:active)::-webkit-slider-thumb {
        background: $mdlext-dark-range-bg-focus-color;
      }

      &.is-lowest-value:focus:not(:active)::-moz-range-thumb {
        background: $mdlext-dark-range-bg-focus-color;
      }

      &.is-lowest-value::-ms-thumb {
        background: radial-gradient(circle closest-side,
          transparent 0%,
          transparent 66.67%,
          $mdlext-dark-range-bg-color 66.67%,
          $mdlext-dark-range-bg-color 100%);
      }

      &.is-lowest-value:focus:not(:active)::-ms-thumb {
        background: radial-gradient(circle closest-side,
          $mdlext-dark-range-bg-focus-color 0%,
          $mdlext-dark-range-bg-focus-color 25%,
          $mdlext-dark-range-bg-color 25%,
          $mdlext-dark-range-bg-color 37.5%,
          $mdlext-dark-range-bg-focus-color 37.5%,
          $mdlext-dark-range-bg-focus-color 100%);
      }

      &.is-lowest-value:active::-ms-thumb {
        background: radial-gradient(circle closest-side,
          transparent 0%,
          transparent 77.78%,
          $mdlext-dark-range-bg-color 77.78%,
          $mdlext-dark-range-bg-color 100%);
      }

      &.is-lowest-value::-ms-fill-lower {
        background: transparent;
      }

      &:disabled:focus::-webkit-slider-thumb,
      &:disabled:active::-webkit-slider-thumb,
      &:disabled::-webkit-slider-thumb {
        background: $mdlext-dark-range-bg-color;
      }

      &:disabled:focus::-moz-range-thumb,
      &:disabled:active::-moz-range-thumb,
      &:disabled::-moz-range-thumb {
        background: $mdlext-dark-range-bg-color;
      }

      &:disabled +
      .mdl-slider__background-flex > .mdl-slider__background-lower {
        background-color: $mdlext-dark-range-bg-color;
      }

      &.is-lowest-value:disabled:focus::-webkit-slider-thumb,
      &.is-lowest-value:disabled:active::-webkit-slider-thumb,
      &.is-lowest-value:disabled::-webkit-slider-thumb {
        background: transparent;
      }

      &.is-lowest-value:disabled:focus::-moz-range-thumb,
      &.is-lowest-value:disabled:active::-moz-range-thumb,
      &.is-lowest-value:disabled::-moz-range-thumb {
        border: 3px solid $mdlext-dark-range-bg-color;
        background: transparent;
      }

      &:disabled:focus::-ms-thumb,
      &:disabled:active::-ms-thumb,
      &:disabled::-ms-thumb {
        background: $mdlext-dark-range-bg-color;
      }

      &.is-lowest-value:disabled:focus::-ms-thumb,
      &.is-lowest-value:disabled:active::-ms-thumb,
      &.is-lowest-value:disabled::-ms-thumb {
        background: radial-gradient(circle closest-side,
          transparent 0%,
          transparent 50%,
          $mdlext-dark-range-bg-color 50%,
          $mdlext-dark-range-bg-color 100%);
      }

      &:disabled::-ms-fill-lower {
        background: linear-gradient(to right,
          transparent,
          transparent 25px,
          $mdlext-dark-range-bg-color 25px,
          $mdlext-dark-range-bg-color 0);
      }
    }
  }

  .mdl-slider__background-flex {
    background: transparent;
  }

  .mdl-slider__background-lower {
    background: $mdlext-dark-range-color;
  }

  // This one styles the upper part of the slider track.
  .mdl-slider__background-upper {
    background: $mdlext-dark-range-bg-color;
  }
}


// mdl/src/textfield/_textfield.scss
// -----------------------------------
.mdlext-dark-theme {

  .mdl-textfield__input {
    border-bottom-color: $mdlext-dark-input-text-bottom-border-color;
  }
  .mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: $mdlext-dark-input-text-error-color;
  }
  fieldset[disabled] .mdl-textfield .mdl-textfield__input,
  .mdl-textfield.is-disabled .mdl-textfield__input {
    background-color: transparent;
    border-bottom-color: $mdlext-dark-input-text-disabled-color;
    color: $mdlext-dark-input-text-disabled-text-color;
  }
  .mdl-textfield__label {
    color: $mdlext-dark-input-text-label-color;
  }
  .mdl-textfield__label:after {
    background-color: $mdlext-dark-input-text-highlight-color;
  }
  fieldset[disabled] .mdl-textfield .mdl-textfield__label,
  .mdl-textfield.is-disabled.is-disabled .mdl-textfield__label {
    color: $mdlext-dark-input-text-disabled-text-color;
  }
  .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
  .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
  .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: $mdlext-dark-input-text-highlight-color;
  }
  .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: $mdlext-dark-input-text-error-color;
  }
  .mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: $mdlext-dark-input-text-error-color;
  }
  .mdl-textfield__error {
    color: $mdlext-dark-input-text-error-color;
  }
}


// mdl/src/checkbox/_checkbox.scss
// -----------------------------------
.mdlext-dark-theme {

  .mdl-checkbox__box-outline {
    border-color: $mdlext-dark-checkbox-off-color;
  }
  .mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border-color: $mdlext-dark-checkbox-color;
  }
  fieldset[disabled] .mdl-checkbox .mdl-checkbox__box-outline,
  .mdl-checkbox.is-disabled .mdl-checkbox__box-outline {
    border-color: $mdlext-dark-checkbox-disabled-color;
  }

  .mdl-checkbox__focus-helper {
    background-color: transparent;
  }
  .mdl-checkbox.is-focused.is-checked .mdl-checkbox__focus-helper {
    box-shadow: 0 0 0px ($checkbox-button-size / 2) $mdlext-dark-checkbox-focus-color;
    background-color: $mdlext-dark-checkbox-focus-color;
  }

  .mdl-checkbox__tick-outline {
    background: transparent;
  }
  .mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background-color: $mdlext-dark-checkbox-color;
  }
  fieldset[disabled] .mdl-checkbox.is-checked .mdl-checkbox__tick-outline,
  .mdl-checkbox.is-checked.is-disabled .mdl-checkbox__tick-outline {
    background-color: $mdlext-dark-checkbox-disabled-color;
  }

  fieldset[disabled] .mdl-checkbox .mdl-checkbox__label,
  .mdl-checkbox.is-disabled .mdl-checkbox__label {
    color: $mdlext-dark-checkbox-disabled-color;
  }

  .mdl-checkbox__ripple-container .mdl-ripple {
    background: $mdlext-dark-checkbox-color;
  }
  fieldset[disabled] .mdl-checkbox .mdl-checkbox__ripple-container .mdl-ripple,
  .mdl-checkbox.is-disabled .mdl-checkbox__ripple-container .mdl-ripple {
    background: transparent;
  }

}

// mdl/src/radio/_radio.scss
// -----------------------------------
.mdlext-dark-theme {
  .mdl-radio__outer-circle {
    border-color: $mdlext-dark-radio-off-color;
  }
  .mdl-radio.is-checked .mdl-radio__outer-circle {
    border-color: $mdlext-dark-radio-color;
  }
  .mdl-radio__outer-circle fieldset[disabled] .mdl-radio,
  .mdl-radio.is-disabled .mdl-radio__outer-circle {
    border-color: $mdlext-dark-radio-disabled-color;
  }

  .mdl-radio__inner-circle {
    background: $mdlext-dark-radio-color;
  }
  fieldset[disabled] .mdl-radio .mdl-radio__inner-circle,
  .mdl-radio.is-disabled .mdl-radio__inner-circle {
    background: $mdlext-dark-radio-disabled-color;
  }

  fieldset[disabled] .mdl-radio .mdl-radio__label,
  .mdl-radio.is-disabled .mdl-radio__label {
    color: $mdlext-dark-radio-disabled-color;
  }

  .mdl-radio__ripple-container .mdl-ripple {
    background: $mdlext-dark-radio-color;
  }
  fieldset[disabled] .mdl-radio .mdl-radio__ripple-container .mdl-ripple,
  .mdl-radio.is-disabled .mdl-radio__ripple-container .mdl-ripple {
    background: transparent;
  }
}

// mdl/src/icon-togglr/_icon-toggle.scss
// ---------------------------------------
.mdlext-dark-theme {
  .mdl-icon-toggle__label {
    color: $mdlext-dark-icon-toggle-color;
  }
  .mdl-icon-toggle.is-checked .mdl-icon-toggle__label {
    color: $mdlext-dark-icon-toggle-checked-color;
  }
  .mdl-icon-toggle.is-disabled .mdl-icon-toggle__label {
    color: $mdlext-dark-icon-toggle-disabled-color;
  }
  .mdl-icon-toggle.is-focused .mdl-icon-toggle__label {
    background-color: $mdlext-dark-icon-toggle-focus-color;
  }
  .mdl-icon-toggle.is-focused.is-checked .mdl-icon-toggle__label {
    background-color: $mdlext-dark-icon-toggle-checked-focus-color;
  }
  .mdl-icon-toggle__ripple-container .mdl-ripple {
    background: $mdlext-dark-icon-toggle-color;
  }
  .mdl-icon-toggle.is-disabled .mdl-icon-toggle__ripple-container .mdl-ripple {
    background: transparent;
  }
}


// mdl/src/switch/_switch.scss
// -----------------------------------
.mdlext-dark-theme {

  .mdl-switch__track {
    background: $mdlext-dark-switch-off-track-color;
  }
  .mdl-switch.is-checked .mdl-switch__track {
    background: $mdlext-dark-switch-track-color;
  }
  .mdl-switch__track fieldset[disabled] .mdl-switch,
  .mdl-switch.is-disabled .mdl-switch__track {
    background: $mdlext-dark-switch-disabled-track-color;
  }

  .mdl-switch__thumb {
    background: $mdlext-dark-switch-off-thumb-color;
  }
  .mdl-switch.is-checked .mdl-switch__thumb {
    background: $mdlext-dark-switch-thumb-color;
  }
  .mdl-switch__thumb fieldset[disabled] .mdl-switch,
  .mdl-switch.is-disabled .mdl-switch__thumb {
    background: $mdlext-dark-switch-disabled-thumb-color;
  }

  .mdl-switch__focus-helper {
    background-color: transparent;
  }
  .mdl-switch.is-focused .mdl-switch__focus-helper {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .mdl-switch.is-focused.is-checked .mdl-switch__focus-helper {
    box-shadow: 0 0 0px (($switch-ripple-size - $switch-helper-size) / 2) $mdlext-dark-switch-faded-color;
    background-color: $mdlext-dark-switch-faded-color;
  }

  .mdl-switch__label fieldset[disabled] .mdl-switch,
  .mdl-switch.is-disabled .mdl-switch__label {
    color: $mdlext-dark-switch-disabled-thumb-color;
  }

  .mdl-switch__ripple-container .mdl-ripple {
    background: $mdlext-dark-switch-color;
  }
  fieldset[disabled] .mdl-switch .mdl-switch__ripple-container .mdl-ripple,
  .mdl-switch.is-disabled .mdl-switch__ripple-container .mdl-ripple {
    background: transparent;
  }

}


// mdl/src/data-table/_data-table.scss
// -----------------------------------
.mdlext-dark-theme {

  .mdl-data-table {
    border-color: $mdlext-dark-data-table-dividers;
    background-color: $mdlext-dark-data-table-background-color;

    tbody {
      tr {
        &.is-selected {
          background-color: $mdlext-dark-data-table-selection-color;
        }

        &:hover {
          background-color: $mdlext-dark-data-table-hover-color;
        }
      }
    }

    th {
      color: $mdlext-dark-data-table-header-color;

      &.mdl-data-table__header--sorted-ascending,
      &.mdl-data-table__header--sorted-descending {
        color: $mdlext-dark-data-table-header-sorted-color;

        &:hover {
          &:before {
            color: $mdlext-dark-data-table-header-sorted-icon-hover-color;
          }
        }
      }
    }
  }
}


// mdl/src/menu/_menu.scss
// -----------------------------------
.mdlext-dark-theme {

  .mdl-menu__outline {
    background: $mdlext-dark-default-dropdown-bg-color;
  }

  .mdl-menu__item {
    color: $mdlext-dark-default-item-text-color;
    background-color: transparent;
    outline-color: $mdlext-dark-default-item-outline-color;

    &--full-bleed-divider {
      border-bottom-color: $mdlext-dark-default-item-divider-color;
    }

    &[disabled], &[data-mdl-disabled] {
      color: $mdlext-dark-disabled-item-text-color;
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }

      &:focus {
        background-color: transparent;
      }

      & .mdl-ripple {
        background: transparent;
      }
    }

    &:hover {
      background-color: $mdlext-dark-default-item-hover-bg-color;
    }

    &:focus {
      background-color: $mdlext-dark-default-item-focus-bg-color;
    }

    &:active {
      background-color: $mdlext-dark-default-item-active-bg-color;
    }
  }
}
