.mdlext-light-theme {
  background-color: $mdlext-light-content-background-color;
  color: $mdlext-light-text-color-primary;
}

// mdl/src/palette/_palette.scss
.mdlext-light-theme {

  .mdl-color--primary {
    background-color: $mdlext-light-color-primary !important;
  }

  .mdl-color--primary-contrast {
    background-color: $mdlext-light-color-primary-contrast !important;
  }

  .mdl-color--primary-dark {
    background-color: $mdlext-light-color-primary-dark !important;
  }

  .mdl-color--accent {
    background-color: $mdlext-light-color-accent !important;
  }

  .mdl-color--accent-contrast {
    background-color: $mdlext-light-color-accent-contrast !important;
  }

  .mdl-color-text--primary {
    color: $mdlext-light-color-primary !important;
  }

  .mdl-color-text--primary-contrast {
    color: $mdlext-light-color-primary-contrast !important;
  }

  .mdl-color-text--primary-dark {
    color: $mdlext-light-color-primary-dark !important;
  }

  .mdl-color-text--accent {
    color: $mdlext-light-color-accent !important;
  }

  .mdl-color-text--accent-contrast {
    color: $mdlext-light-color-accent-contrast !important;
  }

}

// mdl/src/typography/_typography.scss
.mdlext-light-theme {
  a {
    color: $mdlext-light-text-link-color;
  }
}

