.mdl-mini-footer {
  margin: $padding*2 0 $padding 0;
  padding: 0 $padding;
  align-items: center;

  & .mdl-logo {
    color: inherit;
    line-height: 1;
    margin: 0;
    padding-right: 8px;
  }

}
.mdl-mini-footer--link-list,
.mdl-mini-footer__link-list {

  align-items: center;

  & li {
    margin-bottom: 0;
    margin-right: $padding;

    @media screen and (min-width: 760px) {
      line-height: 1;
    }
  }
}
.mdl-mini-footer--left-section,
.mdl-mini-footer__left-section {
  display: flex;
  flex: 1;
  align-items: center;
}
.mdl-mini-footer--right-section,
.mdl-mini-footer__right-section {
  display: flex;
  align-items: center;
}
