/*
 * Accordion
 * TODO: include css for icons
 */

$mdlext-accordion-title-padding               : 8px !default;
$mdlext-accordion-title-height                : 48px !default;
$mdlext-accordion-title-color                 : #C0C0C0 !default;
$mdlext-accordion-title-background-color      : rgba($mdlext-accordion-title-color, 0.3) !default;
$mdlext-accordion-title-background-color-hover: rgba($mdlext-accordion-title-color, 0.4) !default;
$mdlext-accordion-title-border-color          : rgba($mdlext-accordion-title-color, 0.5) !default;
$mdlext-accordion-title-background-color-open : rgba($mdlext-accordion-title-color, 0.5) !default;
$mdlext-accordion-title-border-color-open     : rgba($mdlext-accordion-title-color, 0.6) !default;
$mdlext-accordion-content-padding             : 8px !default;

ul.mdlext-accordion {
  list-style: none;
}

// By default an Accordion has horizontal layout
.mdlext-accordion {
  width: 100%;   // Use a container to constrain width
  height: 100%;  // Use a container to constrain height
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;

  .mdlext-accordion__panel {
    position: relative;
    margin: 0;
    padding: 0;
    width: $mdlext-accordion-title-height;
    overflow: hidden;
    transition: flex .15s ease-in;
    flex: 0 0 auto; // == flex: none;
    display: flex;
    flex-flow: row nowrap;

    &[open] {
      flex: 1 1 auto; // == flex: auto;
    }
    .mdlext-accordion__panel__title {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      position: relative;
      min-width: $mdlext-accordion-title-height;
      margin: 0;
      padding: 0;
      background-color: $mdlext-accordion-title-background-color;
      border-right: 1px solid $mdlext-accordion-title-border-color;
      user-select: none;

      &:hover {
        background-color: $mdlext-accordion-title-background-color-hover;
      }
      .mdlext-accordion__panel__title__transform {
        white-space: nowrap;
        margin: 0;
        padding: 0 0 0 $mdlext-accordion-title-padding;
        position: absolute;
        bottom: 0;
        left: 0;
        height: $mdlext-accordion-title-height;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        transform: rotate(-90deg) translateY(100%);
        transform-origin: bottom left;

        //background-color: red;

        > * {
          margin: 0;
          padding: 0;
        }
      }
    }
    &[open] .mdlext-accordion__panel__title {
      background-color: $mdlext-accordion-title-background-color-open;
      border-right: 1px solid $mdlext-accordion-title-border-color-open;
    }

    .mdlext-accordion__panel__title > {
      a {
        display: block;
        text-decoration: none;
        overflow: hidden;
        //opacity: 0;
        font-size: 0;
        transform: rotate(0deg);
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        z-index: 1;
      }
    }
    .mdlext-accordion__panel__content {
      width: 100%;
      padding: $mdlext-accordion-content-padding;
      overflow: hidden;  // Overflow hidden/auto can not be transitioned. Need a keyframe for that
    }
    &[open] .mdlext-accordion__panel__content {
      overflow: auto;
      animation: mdlext-accordion__panel-open .4s linear;
    }
  }

  // Vertical accordion
  &.mdlext-accordion--vertical {
    flex-flow: column nowrap;

    .mdlext-accordion__panel {
      width: 100%;
      height: $mdlext-accordion-title-height;
      flex: none;
      flex-flow: column nowrap;

      .mdlext-accordion__panel__title {
        min-height: $mdlext-accordion-title-height;
        border-right: 0;
        border-bottom: 1px solid $mdlext-accordion-title-border-color;

        > {
          * {
            position: relative;
            bottom: auto;
            left: auto;
            padding-left: $mdlext-accordion-title-padding;
            transform: rotate(0deg);
          }
          a {
            position: absolute;
            left: 2px;
            bottom: 2px;
          }
        }
      }
      &[open] {
        flex: 1;
      }
      &[open] .mdlext-accordion__panel__title {
        border-right: 0;
        border-bottom: 1px solid $mdlext-accordion-title-border-color-open;
      }
    }
  }
}


/*
 * Animating overflow:hidden -> overflow:auto, see: https://jdsteinbach.com/css/snippet-animate-display-transform/
 * Why do we need to animate this? The text overflow auto should be set after the accordion animation has completed!
 * If we omit this, the the overflow scrollbar will flicker during the accordion open transition
 */
@keyframes mdlext-accordion__panel-open {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}

/* Use autoprefixer
@-webkit-keyframes mdlext-accordion__panel-open {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}


@-moz-keyframes mdlext-accordion__panel-open {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}
*/
