@charset "UTF-8";

// ------------------------------------------------------------------------------------------------------
// Organizing SASS / CSS
// See: http://sass-guidelin.es/#the-7-1-pattern
// See: https://github.com/HugoGiraudel/sass-boilerplate/tree/master/stylesheets
//
// TODO: No global Sass context, as suggested by http://bensmithett.com/smarter-css-builds-with-webpack/
// Only import what is strictly needed
//
// To resolve modules path, e.g, @import '../../node_modules/<module>', we can prefix import with "~"
// and let Webpack do the path resolving.
// ------------------------------------------------------------------------------------------------------


// 1. Configuration and helpers
@import 'stylesheets/utils/variables';
@import 'stylesheets/utils/mixins';

// 2. Vendors
@import
  'stylesheets/vendors/material-design-icons',
  '~material-design-iconic-font/dist/css/material-design-iconic-font.css',
  '~roboto-fontface/css/roboto-fontface.css',
  '~material-design-lite/src/material-design-lite',
  '~dialog-polyfill/dialog-polyfill.css';

// 3. Base stuff
@import 'stylesheets/base/base';

// 4. Layout-related sections
@import 'stylesheets/layout/layout';

// 5. Components
@import
  'js/components/accordion/accordion',
  'js/components/select/selectfield',
  'js/components/textfield/textfield';

// 6. Page-specific styles
@import 'stylesheets/pages/demo.css';

// 7. Themes
